html
  head
    title Sir Lunchalot
    link(rel='stylesheet', href='/css/main.css')
  body
    h1 Find local lunch spots 
    .results
      form(name="save-locations", method="post", action="/saveLocations") 
        each val in results
          .result
            input(type="checkbox", name="locations", value= JSON.stringify(val))
            img(class="img" src= val.image_url)
            .info
              h1(class="name")= val.name
              .rating
                - var n = 0
                while n < parseInt(Math.floor(val.rating))
                  span(class="hidden")= n++
                  img(class="small-img" src= "/images/star.png")
              h2(class="address")=val.display_address
        input(type="submit")
